doctype html(lang="en")
head
  title="Durok Scores"
  link(href="style.css", rel="stylesheet")
  link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Lora:400" rel="stylesheet")
  script(src="https://code.jquery.com/jquery-latest.min.js")
  script(src="index.js")

body
    section(class="banner")
      h1 Durok Scores

    section(class="explanations")
      div(class="content")
        h2 Overview
        p Durok is a game with only one loser, but no winners. Players fight to get rid of their cards in a series of attacks and defends. The last one in the game with cards is declared the "Durok" (Russian for "fool").

        h2 Scoring key
        ul
          li <span class="scoreStat">Not Loss Score:</span> -1 point per loss + (1/# of non-losers) per not loss
          li <span class="scoreStat">Play Score:</span> -1 point per loss + (1/# of players) per game


    section(class="scores")
      div(class="content")
        form(id="scoreFilters", onsubmit="return false;")
          span(class="domainSelectLabel label") Domain
          select(id="domainSelect", name="domainId")
            option(value="0") All
          span(class="dateInputLabel label") Start/end date
          input(class="startDate", type="date", name="startDate")
          input(class="endDate", type="date", name="endDate")
          button(id="submitButton") <i class="fa fa-filter" aria-hidden="true"></i> Filter data

        table(class="scoreTable")
          thead
            tr
              td(class="rankCol sortableHeader selected", data-stat-name="rank") Rank
              td(class="playerCol sortableHeader", data-stat-name="name") Player
              td(class="playsCol sortableHeader", data-stat-name="plays") Plays
              td(class="lossesCol sortableHeader", data-stat-name="losses") Losses
              td(class="notLossesCol sortableHeader", data-stat-name="notLosses") Not Losses
              td(class="notLossScoreCol sortableHeader", data-stat-name="notLossScore") Not Loss Score
              td(class="playScoreCol sortableHeader", data-stat-name="playScore") Play Score
              td(class="notLossPercentCol sortableHeader", data-stat-name="notLossPercent") Not Loss %
          tbody
