doctype html(lang="en")
head
  title="Durok Scores"
  link(href="style.css", rel="stylesheet")
  script(src="https://code.jquery.com/jquery-latest.min.js")
  script(src="index.js")

body
    h1="Durok Scores"
    div(class="data")

    h2="Players"
    div(class="playerList")
