doctype html(lang="en")
head
  title="Durok Scores"
  link(href="style.css", rel="stylesheet")
  script(async, src="http://code.jquery.com/jquery-latest.min.js")
  script(async, src="index.js")

body
    h1="Durok Scores"
