doctype html(lang="en")
head
  title="Durok Scores"
  link(href="style.css", rel="stylesheet")
  script(src="https://code.jquery.com/jquery-latest.min.js")
  script(src="index.js")

body
    h1 Durok Scores

    div(class="scores")
      table(class="scoreTable")
        thead
          tr
            td Player
            td Plays
            td Not Losses
            td Losses
            td Not Loss Score
            td Play Score
            td Not Loss %
        tbody

    h2 Raw JSON
    div(class="data")
