doctype html(lang="en")
head
  title="Durok Scores"
  link(href="style.css", rel="stylesheet")
  script(src="https://code.jquery.com/jquery-latest.min.js")
  script(src="index.js")

body
    h1 Durok Scores

    div(class="scores")
      form(id="scoreFilters", onsubmit="return false;")
        select(id="domainSelect", name="domainId")
          option(value="0") All
        input(class="startDate", type="date", name="startDate")
        input(class="endDate", type="date", name="endDate")
        button(id="submitButton") Filter data

      table(class="scoreTable")
        thead
          tr
            td(class="playerCol, sortableHeader", data-stat-name="name") Player
            td(class="playsCol, sortableHeader", data-stat-name="plays") Plays
            td(class="notLossesCol, sortableHeader", data-stat-name="notLosses") Not Losses
            td(class="lossesCol, sortableHeader", data-stat-name="losses") Losses
            td(class="notLossScoreCol, sortableHeader", data-stat-name="notLossScore") Not Loss Score
            td(class="playScoreCol, sortableHeader", data-stat-name="playScore") Play Score
            td(class="notLossPercentCol, sortableHeader", data-stat-name="notLossPercent") Not Loss %
        tbody
