doctype html(lang="en")
head
  title="Durok Scores"
  link(href="style.css", rel="stylesheet")
  script(src="https://code.jquery.com/jquery-latest.min.js")
  script(src="index.js")

body
    h1 Durok Scores

    div(class="scores")
      table(class="scoreTable")
        thead
          tr
            td(class="playerCol") Player
            td(class="playsCol") Plays
            td(class="notLossesCol") Not Losses
            td(class="lossesCol") Losses
            td(class="notLossScoreCol") Not Loss Score
            td(class="playScoreCol") Play Score
            td(class="notLossPercentCol") Not Loss %
        tbody
