body, table, input, select, option, button {
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}
body {
  padding-bottom: 100px;
}

.banner {
  color: #fff;
  background: #aaa;
  height: 300px;
  margin: 0;
  text-align: center;
}

.banner h1 {
  font-size: 56px;
  font-family: "Lora", sans-serif;
  text-transform: uppercase;
  margin-top: 120px;
}

h1 {
  font-size: 36px;
}

h2 {
  margin: 24px 0 8px 0;
}

h1, h2, h3 {
  font-weight: normal;
}

section {
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: auto;
}

input, select, option {
  font-size: 12px;
  height: 28px;
  padding: 0 4px;
  margin-left: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
}

#scoreFilters {
  margin: 0 0 24px 0;
  overflow: auto;
}
#scoreFilters label {
  margin: 4px;
}
.filtersLabel {
  font-weight: bold;
  line-height: 28px;
  margin-right: 24px;
}
.dateInputLabel {
  margin-left: 16px;
}
.filtersWrapper {
  float: right;
}

.tableHead .cell {
  border-bottom: 3px solid #ddd;
}

.tableBody .cell {
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

.cell {
  display: inline;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}
.cell.selected { font-weight: bold; }
.cell.positiveScore { color: darkgreen; }
.cell.negativeScore { color: darkred; }

.row {
  display: flex;
}
.tableBody .row:hover {
  background-color: #eee;
}
.tableBody .row,
.tableBody .row:hover  {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.tableHead .rankCol { min-width: 48px; }
.tableBody .rankCol { padding-left: 16px; min-width: 32px}

.playsCol,
.lossesCol { min-width: 64px; }
.playerCol { min-width: 208px; }
.notLossScoreCol { min-width: 128px; }
.playScoreCol,
.notLossPercentCol,
.notLossesCol { min-width: 96px; }

ul {
  padding: 0;
}
li {
  margin-left: 20px;
} 
ul .listTitle {
  font-weight: bold;
}

li .scoreStat,
li .filterCategory {
  font-weight: bold;
}

.tooltipTarget {
  color: #888;
}

.tooltip {
  position: fixed;
  z-index: 1;
  background: #555;
  color: #fff;
  max-width: 216px;
  padding: 12px;
  border-radius: 4px;
}
