body, table, input, select, option, button {
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}
body {
  padding-bottom: 100px;
}

.banner {
  color: #fff;
  background-color: #888;
  background-attachment: fixed;
  background-image: url("cards.jpg");
  height: 300px;
  margin: 0;
  text-align: center;
}

.banner h1 {
  font-size: 72px;
  font-family: "Lora", sans-serif;
  text-transform: uppercase;
  margin-top: 120px;
}

h1 {
  font-size: 36px;
}

h2 {
  margin: 24px 0 8px 0;
}

h1, h2, h3 {
  font-weight: normal;
}

section {
  clear: both;
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: auto;
}

input, select, option {
  font-size: 12px;
  height: 28px;
  padding: 0 4px;
  margin-left: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
}

#scoreFilters {
  margin: 0 0 24px 0;
  overflow: auto;
}
#scoreFilters label {
  margin: 4px;
}
.filtersLabel {
  font-weight: bold;
  line-height: 28px;
  margin-right: 24px;
}
.dateInputLabel {
  margin-left: 16px;
}
.filtersWrapper {
  float: right;
}

table {
  width: 100%;
  border-spacing: 0;
}

thead td {
  border-bottom: 2px solid #ddd;
}

tbody td {
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

td {
  height: 32px;
  padding: 0px;
}

thead td.selected {
  font-weight: bold;
}

td.positiveScore { color: darkgreen; }
td.negativeScore { color: darkred; }

tbody tr:hover {
  background-color: #eee;
}
tbody tr,
tbody tr:hover  {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.scoreTable thead .rankCol { min-width: 48px; }
.scoreTable tbody .rankCol { padding-left: 16px; min-width: 32px}
.scoreTable .playsCol,
.scoreTable .lossesCol { min-width: 56px; }
.scoreTable .playerCol { min-width: 184px; }
.scoreTable .notLossScoreCol { min-width: 120px; }
.scoreTable .playScoreCol { min-width: 104px; }
.scoreTable .notLossPercentCol { min-width: 88px; }
.scoreTable .notLossesCol { min-width: 80px; }
.scoreTable .streakCol { min-width: 48px; }

.recentGamesTable .gameScoreCell { min-width: 80px; max-width: 120px; }
.recentGamesTable .totalScoreCell { max-width: 64px; }  
.recentGamesTable tbody .playerCol { padding-left: 16px; min-width: 216px; }

.tableWrapper {
  overflow-x: scroll;
}

ul {
  padding: 0;
}
li {
  margin-left: 20px;
} 
ul .listTitle {
  font-weight: bold;
}

li .scoreStat,
li .filterCategory {
  font-weight: bold;
}

.tooltipTarget {
  color: #888;
}

.tooltip {
  position: fixed;
  z-index: 1;
  background: #555;
  color: #fff;
  max-width: 216px;
  padding: 12px;
  border-radius: 4px;
}

#filtersWrapper {
  position: fixed;
  top: 0;
  padding: 8px 0;
  background-color: #eee;
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.3);
  width: 100%;
}
#gameFilters {
  max-width: 800px;
  padding: 0px 20px;
  margin: auto;
}

.playerSelectWrapper {
  float: right;
  margin-top: 16px;
}
.playerSelectWrapper .label { font-size: 20px; }
.playerSelectWrapper select,
.playerSelectWrapper option { font-size: 16px; }

#notLossesChart,
#notLossesPlayerCount {
  float: left
}
#notLossesPlayerCount {
  margin-left: 80px;
}
#notLossesPlayerCount input {
  vertical-align: middle;
  margin-right: 8px;
}

.chartTooltip {
  background-color: #fff;
  position: fixed;
  width: 160px;
  padding: 16px;
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
}
.chartTooltip .tooltipLabel {
  font-weight: bold;
}
