body, table, input, select, option, button {
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}
body {
  padding-bottom: 100px;
}

section,
#playerAnalysis {
  overflow: hidden;
}

.banner {
  color: #fff;
  background-size: 100%;
  background-color: #1f0601;
  background-attachment: fixed;
  background-image: url("cards-fixed-width.jpg");
  background-repeat: no-repeat;
  height: 300px;
  margin: 0;
  text-align: center;
}
@media(max-width: 767px) {
  .banner {
    background-size: 750px;
    background-image: url("cards-narrow.jpg");
    background-attachment: scroll;
  }
}

.banner h1 {
  font-size: 72px;
  font-family: "Lora", sans-serif;
  text-transform: uppercase;
  margin-top: 120px;
}

h1 {
  font-size: 36px;
}

h2.sectionSpacer {
  margin: 24px 0 8px 0;
}

h1, h2, h3 {
  font-weight: normal;
}

section {
  clear: both;
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: auto;
}

input, select, option {
  height: 28px;
  padding: 0 4px;
  margin-left: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
}
#gameFilters input,
#gameFilters select,
#gameFilters option {
  font-size: 12px;
}

#scoreFilters {
  margin: 0 0 24px 0;
  overflow: auto;
}
#scoreFilters label {
  margin: 4px;
}
.filtersLabel {
  font-weight: bold;
  line-height: 28px;
  margin-right: 24px;
}
.dateInputLabel {
  margin-left: 16px;
}
.filtersOptionsWrapper {
  float: right;
}

table {
  width: 100%;
  border-spacing: 0;
}

thead td {
  border-bottom: 2px solid #ddd;
}

tbody td {
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

td {
  height: 32px;
  padding: 0px;
}

thead td.selected {
  font-weight: bold;
}

td.positiveScore { color: darkgreen; }
td.negativeScore { color: darkred; }

tbody tr:hover {
  background-color: #eee;
}
tbody tr,
tbody tr:hover  {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.scoreTable thead .rankCol { min-width: 48px; }
.scoreTable tbody .rankCol { padding-left: 16px; min-width: 32px}
.scoreTable .playsCol,
.scoreTable .lossesCol { min-width: 56px; }
.scoreTable .playerCol { min-width: 184px; }
.scoreTable .notLossScoreCol { min-width: 120px; }
.scoreTable .playScoreCol { min-width: 104px; }
.scoreTable .notLossPercentCol { min-width: 88px; }
.scoreTable .notLossesCol { min-width: 80px; }
.scoreTable .streakCol { min-width: 48px; }

.recentGamesTable .gameScoreCell { min-width: 80px; max-width: 120px; }
.recentGamesTable .totalScoreCell { min-width: 64px; }  
.recentGamesTable tbody .playerCol { padding-left: 16px; min-width: 216px; }

.tableWrapper { overflow: hidden; }
.recentGamesTableWrapper { overflow-x: scroll; }

ul {
  padding: 0;
}
li {
  margin-left: 20px;
} 
ul .listTitle {
  font-weight: bold;
}

li .scoreStat,
li .filterCategory {
  font-weight: bold;
}

.tooltipTarget {
  color: #888;
}

.tooltip {
  position: fixed;
  z-index: 1;
  background: #555;
  color: #fff;
  max-width: 216px;
  padding: 12px;
  border-radius: 4px;
}

#filtersWrapper {
  position: fixed;
  top: 0;
  padding: 8px 0;
  background-color: #eee;
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
}
#gameFilters {
  max-width: 800px;
  padding: 0px 20px;
  margin: auto;
}

#notLossRatio {
  width: 37%;
  float: left;
}
#statComparison {
  width: 62%;
  float: right;
}
@media(max-width: 767px) {
  #notLossRatio,
  #statComparison {
    float: left;
    width: 100%;
  }
  #statComparison {
    margin-top: 32px;
  }
}

.analysisSection h2 {
  margin-top: 0;
}
.playerAnalysisHeaderWrapper {
  position: relative;
}
.playerSelectWrapper {
  position: absolute;
  top: 18px;
  right: 0;
}
.playerSelectWrapper .label { font-size: 20px; }
.playerSelectWrapper select,
.playerSelectWrapper option { font-size: 16px; }
@media(max-width: 767px) {
  .playerSelectWrapper {
    position: static;
    margin-bottom: 32px;
  }
}

#notLossRatio { position: relative; }
.notLossesParams {
  clear: both;
  margin-top: 24px;
}

.notLossesParams .label { font-size: 16px; }

#notLossesPlayerCount input {
  vertical-align: middle;
  margin-left: 0;
  margin-right: 4px;
  height: 24px;
}
#notLossesPlayerCount input + input { margin-left: 20px; }
#notLossesPlayerCount h4 { margin-bottom: 8px; }

.notLossesChartLegend { overflow: hidden; }

.legendItem,
.legendItem .legendSquare {
  float: left;
  margin-right: 16px;
  vertical-align: middle;
}
.legendItem .legendSquare {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.chartTooltip {
  background-color: #fff;
  position: fixed;
  min-width: 100px;
  padding: 16px;
  box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.5);
}
.pieChartTooltip {
  min-width: 100px;
}
.pieChartTooltip .tooltipLabel,
.pieChartTooltip .performance,
.comparisonChartTooltip .tooltipLabel {
  font-weight: bold;
}
.pieChartTooltip .comparison .percent {
  float: right;
}
.pieChartTooltip .comparison .name {
  float: left;
  margin-right: 32px;
}


.barChartHeader {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.comparisonChartWrapper { position: relative; }

#comparisonStatSelect {
  font-weight: bold;
  font-size: 16px;
  margin: 2px 0 0 8px;
  padding: 0;
}

.comparisonChartBarsWrapper .bar {
  height: 24px;
  margin-left: 12px;
  margin-top: 8px;
}

.comparisonChartNamesWrapper {
  position: absolute;
  width: 176px;
  line-height: 32px;
  text-align: right;
}
.comparisonChartBarsWrapper {
  width: 100%;
  margin-left: 176px;
}

.comparisonHeaderWrapper {
  position: relative;
}
#comparisonSortOptions {
  position: absolute;
  top: 4px;
  right: 0;
}
#comparisonSortOptions label:first-child {
  font-weight: bold;
}
#comparisonSortOptions input {
  vertical-align: middle;
  margin-right: 4px;
  margin-left: 16px;
}
@media(max-width: 767px) {
  #comparisonSortOptions {
    position: static;
    margin-bottom: 16px;
  }
}

h2.ruleSection {
  margin-top: 24px;
  margin-bottom: 0;
}
